{% extends "layout.html" %}

{% block body %}
<h3>To Do List</h3>
<hr>
<form action="/add" method = "POST">
    <div class="form-group">
        <label>To Do</label>
        <input type="text" class="form-control" name = "title" placeholder="Name">
        <br>
        <button type="submit" class="btn btn-info">Add</button>
    </div>
    <hr>
</form>
{% if todos != [] %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">State</th>
      <th scope="col">Delete</th>
      <th scope="col">Update</th>
    </tr>
  </thead>
  <tbody>
  {% for todo in todos %}
    <tr>
      <th scope="row">{{todo["id"]}}</th>
      <td>{{todo["title"]}}</td>
      {% if todo["complete"] == False %}
        <td>Not completed</td>
      {% else %}
        <td>Completed</td>
      {% endif %}
      <td><a href = "/delete/{{todo['id']}}"><button type="submit" class="btn btn-info">Delete</button></a></td>
      <td><a href = "/complete/{{todo['id']}}"><button type="submit" class="btn btn-info">Complete</button></a></td>
    </tr>
    
  {% endfor %}
  </tbody>
</table>
{% else %}
<div class="alert alert-info" role="alert">
  Empty
</div>
{% endif %}
{% endblock %}